@model FrontEnd.Models.MantenimientoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MantenimientoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TipoMantenimiento" class="control-label"></label>
                <input asp-for="TipoMantenimiento" class="form-control" />
                <span asp-validation-for="TipoMantenimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinalizacion" class="control-label"></label>
                <input asp-for="FechaFinalizacion" class="form-control" />
                <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionMantenimiento" class="control-label"></label>
                <input asp-for="DescripcionMantenimiento" class="form-control" />
                <span asp-validation-for="DescripcionMantenimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaActualizado" class="control-label"></label>
                <input asp-for="FechaActualizado" class="form-control" />
                <span asp-validation-for="FechaActualizado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAutomovil" class="control-label"></label>
                <input asp-for="IdAutomovil" class="form-control" />
                <span asp-validation-for="IdAutomovil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAutomovile" class="control-label"></label>
                <input asp-for="IdAutomovile" class="form-control" />
                <span asp-validation-for="IdAutomovile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
